
.wrapper  {
  min-width: 720px;
  box-sizing: border-box;
  padding: 10px 0 0 0;
    .table {
      width: 80%;
      border-collapse: collapse;
      margin: 0 auto;
      border: 0.5px solid rgb(162, 162, 162);
      thead{
        background-color: rgb(167, 250, 167);
      }
      tr {
        text-align: center;
        border-bottom: 0.5px solid rgb(162, 162, 162);
        td {
          width: 20%;
          padding: 10px;
          text-align: center;
        }
      }
    } 
}

.vehicleColor {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid rgba(0 0 0 / 12%);
  box-sizing: border-box;
}

.vehicleClass {
  font-size: 28px;
}